[Desktop Entry]
Type=Application
Name=Ferret Scan
Comment=3D Scanning Application
Icon=/usr/share/ferret/ferret.ico
Exec=ferret
StartupNotify=true
Terminal=false
Categories=GNOME;GTK;Utility;Graphics;
